 <footer>
        <div class="footer-content">
            <p class="contact-us">Contact Us: <br> &nbsp; &nbsp; &nbsp; Tel No: 05308231775 <br> &nbsp; &nbsp; &nbsp; Adress: Evliya Çelebi Yerleşkesi Tavşanlı Yolu 10.km Kütahya / Türkiye <br> &nbsp; &nbsp; &nbsp; E-mail: separilhan@gmail.com
            </p>
            <a href="https://www.linkedin.com/in/ilhan-%C5%9Fepar/" class="fa fa-linkedin" target="_blank"></a>
            <a href="https://www.youtube.com/channel/UCidMCoYHnV6fuCG0NQYkf4Q" class="fa fa-youtube" target="_blank"></a>
        </div>
    </footer>