 <header>
        <div class="navigasyon">
            <div id="nav-align">
                <div id="logo">
                    <a href="/">
                        <img src="logo.png" alt="logo">
                    </a>
                </div>
                <li>
                    <a href="login">Login</a>
                </li>
                <li>
                    <a href="about">Hakkımızda</a>
                </li>
                <li>
                    <div class="mydropdown">
                        <button class="mydropbtn">Kategoriler
                      <!--<i class="fa fa-caret-down"></i> -->
                    </button>
                        <div class="mydropdown-content">
                            <a href="#">Link 1</a>
                            <a href="#">Link 2</a>
                            <a href="#">Link 3</a>
                        </div>
                    </div>
                </li>
                <li><a href="#">Tarihçe</a></li>
                <li><a href="/">Ana Sayfa</a></li>
            </div>
        </div>
</header>